<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <title>funcionários</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if funcionarios%}
    <div>
    <h1>Lista de Funcionários</h1>
    <table border="1" class="tabela">
    <thead>
        <tr>
            <th class="th-head">Nome</th>
            <th class="th-head">Sobrenome</th>
            <th class="th-head">Data admissão</th>
            <th class="th-head">Ativo</th>
            <th class="th-head">Setor</th>
            <th class="th-head">Cargo</th>
            <th class="th-head">Opções</th>
        </tr>
    </thead>
    <tbody>
    {% for funcionario in funcionarios %}
    <tr>
        <td>
            {{funcionario.primeiro_nome}}    
        </td>
         <td>
            {{funcionario.sobrenome}}    
        </td> 
        <td>
            {{funcionario.data_admissao}}    
        </td> 
        <td>
            {% if funcionario.status_funcionario %}
            Sim
            {% else %}
            Não
            {% endif %}
        </td>
        <td>
            {{funcionario.setor.nome}}
        </td>
        <td>
            {{funcionario.cargos.nome}}
        </td>
    <td>
        <form action="{{ url_for('delete_funcionario', id=funcionario.id, id_setor=funcionario.id_setor) }}" method="post" style="display: inline;">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Excluir">
        </form>
        <span><a href="{{ url_for('edit_funcionario', id=funcionario.id, id_setor=funcionario.id_setor) }}">Editar</a><span>
    </td>
    </tr>
    {% endfor %}
    <tr>
        <form action="/funcionarios/{{ id_setor }}" method="post">
        {% for field in form %}
            {% if field.name != 'csrf_token' %}
                <td>{{ field() }}</td>
            {% else %}
                {{ field() }}
            {% endif %}
        {% endfor %}
        </form>
    </tr>  
    </tbody>
    </table>
    {% else %}
        <div class="edit-div">
        <h1>Adicionar funcionário</h1>
        <table id="table-func">
        <thead>
        <tr>
            <th class="th-head">Nome</th>
            <th class="th-head">Sobrenome</th>
            <th class="th-head">Data admissão</th>
            <th class="th-head">Ativo</th>
            <th class="th-head">Setor</th>
            <th class="th-head">Cargo</th>
            <th class="th-head">Opções</th>
        </tr>
        </thead>
            <tr>
                <form action="/funcionarios/{{ id_setor }}" method="post">
                {% for field in form %}
                    {% if field.name != 'csrf_token' %}
                        <td>{{ field() }}</td>
                    {% else %}
                        {{ field() }}
                    {% endif %}
                {% endfor %}
                </form>
            </tr>
            </table>
    {% endif %}
    </div>
</body>
</html>
